.Heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}
.tools {
  display: flex;
  justify-content: space-around;
}
#table {
  padding: 50px;
  border: 1px solid black;
}
#sqrt {
  padding: 15px;
  border: 1px solid black;
}
#cbrt {
  padding: 5px;
  border: 1px solid black;
}
#sumOfN {
  padding: 5px;
  border: 1px solid black;
}
#powerFn {
  padding: 5px;
  border: 1px solid black;
}
#ProductOfN {
  padding: 5px;
  border: 1px solid black;
}
